#social{
    text-align: center;
}
#contactus{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    padding-top: 5%;
    padding-bottom: 5%;
}
#about-us{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: x-large;
}
#services{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/s_image.jpg);
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: x-large;
    color: white;
}
.landing{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
  background-repeat: no-repeat;
   color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
        .what-we-do{
            font-family: 'Quattrocento', seri;
            text-align : center;
            padding-top : 40px;
            float: inline-start;
        }
              #product, #development, #design{
                display: none;
              }
              body{
                  font-size: larger;
            }
            #mouse-click {
                animation: bounce 4s infinite;
              }
              .col-md-4{
                  text-align: center;
              }
              .col-md-3 {
                text-align: center;
                margin-top: 50px;
                padding-right: 0px;
                padding-left: 0px;
                float: left;
                 width: 20%;
                  padding: 5px;
              }
                .container {
                    text-align: center;
                    margin-top: 40px;
                }